*{
    margin: 0;
}

body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkseagreen;
}

header {
    background-color: royalblue;
}


h1{
    color: blueviolet;
}

p{
    color: darkgreen;
    font-style: italic;
}

.parrafo1{
    color: black;
    font-weight: bold;
}